@media (min-width: 1000px) {
    .globalErrorMessage {
        margin-left: 335px;
    }
}

.globalErrorMessage {
    position:fixed;
    top: 65px;
    z-index:9999;
    text-align: left;
    min-width: 575px;
}