.weekday-names {
    padding-bottom: 15px;
}

.day {
    height: 95px;
    text-align: right;
    vertical-align: top;
    border: 1px solid lightgrey;
    margin-left: -1px;
    margin-bottom: -1px;
}


.day:hover {
    background: #ececec;
    cursor: pointer;
}

.off-month-day {
    color: darkgrey;
}


@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}