.App {
  text-align: center;
  color: #222222;
}

.active {

}

html, body {
    height: 100%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}