@media (max-width: 1000px) {
    .usage {
        display: none;
    }
}

.usage {
    background: #eaeaea;
    width: 350px;
    float: left;
    height: calc(100vh - 180px);
    padding: -20px 5px 5px;
}
