.invalid:focus {
    border: 1px solid red !important;
}

.login {
    line-height: 50px;
    float: left;
}

@media (max-width: 760px) {
    .login-button {
        float: left;
        margin-right: 5px;
    }
}

.login-failed {
    float: left;
    color: red;
    line-height: 35px;
}


@media (max-width: 760px) {
    .login {
        clear: left;
        padding: 10px;
        min-width: 315px;
        line-height: normal;
    }
}

.login-in-progress {
    background: black;
}