.weekday-names {
    padding-bottom: 15px;
}

.day {
    min-height: 95px !important;
    text-align: right;
    vertical-align: top;
    border: 1px solid #ddd;
    margin-left: -1px;
    margin-bottom: -1px;
}

.day:hover {
    background: #ececec;
    cursor: pointer;
}

.off-month-day {
    color: darkgrey;
}

.today {
    border-top: 3px solid blueviolet;
}

.own-booking, .others-booking {
    margin-left: -15px;
    margin-right: -15px;
    padding: 3px;
    margin-bottom: 3px;
    color: #222222;
}

.own-booking {
    background: aquamarine;
}

.own-booking:hover {
    background: #4a9071;
}

.others-booking {
    background: palevioletred;
}

.others-booking:hover {
    cursor: not-allowed;
}