header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.navbar {
    margin-bottom: 0 !important;
    min-height: 60px !important;
}

@media (min-width: 992px) {
    .navbar > .container {
        padding-left: 350px;
    }
}

.navbar > .container {
    float: left;
    width: 100%
}

.navbar-toggle {
    display: none;
}

.navbar-nav {
    margin: 0 !important;
}