.topbar {
    background: #eaeaea;
    text-align: left !important;
    padding: 10px 10px 10px 0;
    overflow: auto;
}

@media (max-width: 768px) {
    .topbar {
        padding: 10px;
    }
}

.month-picker {
    float: left;
    margin-right: 17px;
}

.date-range {
    float: left;
    line-height: 34px;
}

.month-name {
    width: 90px;
}

